<section class="product-detail">
  <div class="form-title">
    <h2>Formulario de Registro</h2>
  </div>
  <hr>
  <div class="row">
    <div class="input-label">
      <label for="id">ID</label>
      <input type="text">
    </div>
    <div class="input-label">
      <label for="name">Nombre del producto</label>
      <input type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-label">
      <label for="description">Descripción</label>
      <input type="text">
    </div>
    <div class="input-label">
      <label for="logo">Logo</label>
      <input type="file">
    </div>
  </div>
  <div class="row">
    <div class="input-label">
      <label for="date_release">Fecha de liberación</label>
      <input type="date">
    </div>
    <div class="input-label">
      <label for="date_revision">Fecha de reestructuración</label>
      <input type="date">
    </div>
  </div>
</section>
