<section class="main">
  <div class="upper-bar">
    <div class="search-row">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar por Nombre del producto" class="search-input" (input)="filterProducts()" />
    </div>
    <div class="add-row">
      <button class="add-button" (click)="createProduct()">Agregar</button>
    </div>
  </div>
  <table class="product-table">
    <thead>
      <tr class="column-names">
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>Descripción</th>
        <th>Fecha de liberación</th>
        <th>Fecha de reestructuración</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsFiltered">
        <td><img [src]="product.logo" alt="{{ product.name }}" class="logo-image" /></td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.date_release | date }}</td>
        <td>{{ product.date_revision | date }}</td>
        <td>
          <select class="actions-button" (change)="fireAction($event, product.id)">
            <option value="" disabled selected>Acciones</option>
            <option value="update">Actualizar</option>
            <option value="delete">Eliminar</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="results-label">{{ productsFiltered.length }} Resultados</div>
  <div *ngIf="productsFiltered.length < 1" class="no-registries">
    <p>No hay productos para mostrar</p>
  </div>
</section>
