.main {
  padding: 1rem;

  .no-registries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: small;
  }
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: small;
}

.product-table th,
.product-table td {
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.product-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  background-color: #e1f3e1;
  padding: 10px;
}

.logo-image {
  max-width: 60px;
  height: auto;
}

.actions-button img {
  max-width: 70%;
  height: auto;
}

.search-input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 70%;
}

.results-label {
  text-align: left;
  margin-top: 10px;
  font-size: x-small;
}

.search-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.add-row {
  display: flex;
  justify-content: flex-end;

  .add-button {
    transition: 0.5s;
    background-color: #ffc403;
    color: #000000;
    border: none;
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #565656;
  }

  .add-button:hover {
    transition: 0.5s;
    background-color: #484119;
    color: #FFFFFF;
  }

}

.upper-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-row {
  display: flex;
  align-items: center;

  .add-button {
    margin-left: 10px;
  }
}
